<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (ngSubmit)="onSubmit()" #formData="ngForm" *ngIf="!isLoading">
    <mat-form-field>
      <input
        matInput
        type="text"
        name="title"
        [ngModel]="post?.title"
        placeholder="Post Title"
        #title="ngModel"
        required
      />
      <mat-error *ngIf="title.invalid">Please enter a title</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput
        rows="6"
        [ngModel]="post?.content"
        name="content"
        placeholder="Post Content"
        #content="ngModel"
        required
      ></textarea>
      <mat-error *ngIf="content.invalid">Please enter a content</mat-error>
    </mat-form-field>
    <button mat-raised-button color="accent" type="Submit">
      New Post
    </button>
  </form>
</mat-card>
