<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-accordion multi="true" *ngIf="postList.length > 0 && !isLoading">
  <mat-expansion-panel *ngFor="let post of postList">
    <mat-expansion-panel-header>
      {{ post.title }}
    </mat-expansion-panel-header>
    <div class="post-image">
      <img [src]="post.imagePath" [alt]="post.title" />
    </div>
    <p>{{ post.content }}</p>
    <mat-action-row>
      <button mat-button color="primary" [routerLink]="['/edit', post.id]">
        Edit
      </button>
      <button mat-button color="warn" (click)="onDeletePost(post.id)">
        Delete
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<mat-paginator
  [length]="length"
  [pageSize]="pageSize"
  [pageSizeOptions]="pageSizeOptions"
  (page)="onChangePage($event)"
  *ngIf="postList.length > 0"
>
</mat-paginator>

<p class="mat-body-1 info-text" *ngIf="postList.length && !isloading <= 0">
  No posts yet!
</p>
