<mat-accordion multi="true" *ngIf="postList.length > 0">
  <mat-expansion-panel *ngFor="let post of postList">
    <mat-expansion-panel-header>
      {{ post.title }}
    </mat-expansion-panel-header>

    <p>{{ post.content }}</p>
    <mat-action-row>
      <button mat-button color="primary">Edit</button>
      <button mat-button color="warn" (click)="onDeletePost(post.id)">
        Delete
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<p class="mat-body-1 info-text" *ngIf="postList.length <= 0">No posts yet!</p>
